USE [SAM_IMSS_WEB]
GO
/****** Object:  StoredProcedure [dbo].[IMSS_CustodioBBVA]    Script Date: 28/08/2025 03:55:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Javier Pacheco>
-- Create date: <20210426>
-- Description:	<Layout Custodio IMSS BBVA>
-- Example:		<
				--Exec IMSS_CustodioBBVA	
				--Select * from  IMSS_CustodiaBBVA
--				>
-- =============================================
ALTER PROCEDURE [dbo].[IMSS_CustodioBBVA]

AS BEGIN

	Truncate table IMSS_CustodiaBBVA

	Declare @InvNum VARCHAR(80)

	DECLARE trade_cursor CURSOR FOR   
	SELECT InvNum 
	FROM IMSS_CustodioTrades;

	OPEN trade_cursor  
  
	FETCH NEXT FROM trade_cursor   
	INTO @InvNum

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
		Insert Into IMSS_CustodiaBBVA
		select   
			@InvNum, 
			'{'+
			'1A' + /*as [Seccion] */  ':'+
			'F01' + /* as [Codigo_de_Formato], */ ':' +
			case 
				when T.Tran_Type = 'COLL' then '541'
				when T.Tran_Type = 'BUY' then '541'
				when T.Tran_Type = 'SELL' then '543'
				else ''
			end 
			 + /* as  [Numero_de _movimiento], */ ':' +
			FORMAT(getdate(), 'ddMMyy')  + /* as [Fecha_generacion], */ ':' +
			T.InvNum + /* as [Referencia], */ +
			'}'
		From 
			IMSS_CustodioTrades T
		Where
			T.InvNum = @InvNum


		Update IMSS_CustodiaBBVA
		set Texto = Texto + (
			Select 
				'{'+
				'2A'+ ':'+
				'A' /*as [Funcion], */ + ':' +
				T.InvNum /*as [Referencia], */ + ':' +
				'40041626' /*as [Contrato], */ + ':' +
				'' /*as [Contrato_Destino], No lo manda Rodrigo */ + ':' +
				'' /*as [Grantias_Prestamo], */ + ':' +
				substring(Convert(varchar(10), T.Trade_Date,111),1,2) + substring(Convert(varchar(10), T.Trade_Date,111),4,2)  +  substring(Convert(varchar(10), T.Trade_Date,111),9,2) 
					/*as [Fecha_Concertacion], */ + ':' +
				substring(Convert(varchar(10), T.Settle_Date,111),1,2) + substring(Convert(varchar(10), T.Settle_Date,111),4,2)  +  substring(Convert(varchar(10), T.Settle_Date,111),9,2) 
					/*as [Fecha_Liquidacion], */ + ':' +
				'181' /*as [Contraparte],  */ + 
				'}'
			From 
				IMSS_CustodioTrades T
			Where
				T.InvNum = @InvNum)
		Where 
			IMSS_CustodiaBBVA.InvNum = @InvNum

		Update IMSS_CustodiaBBVA
		set Texto = Texto + (
			Select 
				'{'+
				'3A'+':'+
				dbo.Obtener_TV(T.Tipo_Valor) + ':' +--	Pip.[TIPO VALOR] + /* as [Tipo_de_valor], */ ':' +
				dbo.Obtener_Emisora(T.Tipo_Valor) +':' + --Pip.EMISORA+ /* as [Emisora], , */ ':' +
				dbo.Obtener_Serie(T.Tipo_Valor) +':' + --Pip.Serie + /*as [Serie],, */ ':' +
				'' + /* as [Cupon], */ ':' +
				T.ISIN + /* as [ISIN], , */ ':' +
				replace(Convert(varchar(50),T.Orig_Face),'-','') + /* as [Titulos],, */ ':'  +
				/*+
				Convert(varchar(50),T.Trade_Price) + /* as [Precio], , */  */
				'}'
			From 
				IMSS_CustodioTrades T
				--Inner Join VectorAnaliticoMD_PiP Pip on  T.Tipo_Valor = Pip.[TIPO VALOR] + '_' + Pip.EMISORA + '_' + Serie
			Where
				T.InvNum = @InvNum)
		Where 
			InvNum = @InvNum


		Update IMSS_CustodiaBBVA
		set Texto = Texto +  isnull((
			Select 
				'{' +
				'3CM' + ':' +
				convert(varchar(50),T.Effective_Rate) /* as [TASA],*/ + ':' +-- '3'
				--convert(varchar(50), '1'+
				LTRIM(convert(varchar(5), 
					dbo.DiasParaHabil (substring(Convert(varchar(10), T.Trade_Date,111),7,4) + '/' + substring(Convert(varchar(10),T.Trade_Date,111),4,2)  + '/' + 
					substring(Convert(varchar(10), T.Trade_Date,111),1,2))))
						 +  ':::' +
				 --+ substring(Convert(varchar(10), T.Settle_Date,111),1,2 ) + substring(Convert(varchar(10), T.Settle_Date,111),4,2) + substring(Convert(varchar(10), T.Settle_Date,111),9,4) /*as [FECHA_VENCIMIENTO],*/ +
				'}'
			From 
				IMSS_CustodioTrades T
			Where
				T.InvNum = @InvNum and T.Tran_Type = 'COLL'),'')
		Where 
			InvNum = @InvNum 


		Update IMSS_CustodiaBBVA
		set Texto = Texto + (
			Select
				'{'+
				'4A'+ ':'+ 
				convert(varchar(50),replace(T.Net_Money,'-','')) /* as [Importe],*/ + ':' +
				--T.Currency
				'MXP'  /*as [Divisa],*/ + ':' +
				'' /*as [Medio_de_Liquidacion],*/ + ':' +
				'' /*as [Cuenta_Beneficiario],*/ + ':' +
				'' /*as [Nombre_Beneficiario]*/ +
				'}'
			From 
				IMSS_CustodioTrades T
			Where
				T.InvNum = @InvNum)
		Where 
			InvNum = @InvNum

		
		Update IMSS_CustodiaBBVA
		set Texto = Texto + (
			Select
				'{'+
				'5A'+ ':' +
				'' /* as [Comentarios]*/ +
				'}'
			From 
				IMSS_CustodioTrades T
			Where
				T.InvNum = @InvNum)
		Where 
			InvNum = @InvNum

	 
		FETCH NEXT FROM trade_cursor   
		INTO @InvNum


	END

	CLOSE trade_cursor;  
	DEALLOCATE trade_cursor;  

	Select Texto from IMSS_CustodiaBBVA
END


