USE [SAM_IMSS_WEB]
GO
/****** Object:  StoredProcedure [dbo].[IMSS_ArcPosicionValuada_CSV]    Script Date: 28/08/2025 03:52:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Javier Pacheco López>
-- Create date: <Cr2021/03/24>
-- Description:	<Description,,>
-- Exec IMSS_ArcPosicionValuada_csv '20220301'
-- Catalogo Clase de Activo IMSS
--	MCAACCRNV	Acciones (tipo de valor 1 y 41)
--	MCAETFNAC	ETF (tipo de valor 1B)
--	MCAACCSIC	Acciones (tipo de valor 1A)
--	MCAETFEXT	ETF (tipo de valor 1I)
-- =============================================
ALTER PROCEDURE [dbo].[IMSS_ArcPosicionValuada_CSV]
(@FechaReporte Datetime)
AS
BEGIN

	Delete IMSS_RepPosicionValuadaHist  where datediff(DD,FechaReporte, @FechaReporte) = 0
	Delete IMSS_RepPosicionValuadaHistEquity  where datediff(DD,FechaReporte, @FechaReporte) = 0


	--union all
	Insert Into [IMSS_RepPosicionValuadaHistEquity]
	Select
		@FechaReporte as FechaReporte, 
		PiP.[Tipo Valor], PiP.Emisora, PiP.Serie,
		
		CONVERT(VARCHAR(100), CONVERT(DECIMAL(30, 0), abs(sum(convert(decimal(18,0),(case
			when cast(Pos.Orig_Face as decimal(18,0)) < Cast(Pos.Settled as decimal(18,0))  and datediff(DD,@FechaReporte, convert(datetime, Substring(Pos.Settle_Date,7,4) + substring(Pos.Settle_Date,4,2)  + substring(Pos.Settle_Date,1,2), 103)) <= 0 then Cast(Pos.Settled as decimal(18,0))
			when cast(Pos.Orig_Face as decimal(18,0)) = 0.00 then Cast(Pos.Settled as decimal(18,0))
			else cast(Pos.Orig_Face as decimal(18,0))
		end)))))) as [Titulos],

		convert(decimal(18,6),Val.[PRECIOSUCIO]) as PrecioSucio,

		0  as [Monto Invertido],

		sum((case
			when cast(Pos.Orig_Face as decimal(18,0)) < Cast(Pos.Settled as decimal(18,0))  and datediff(DD,@FechaReporte, convert(datetime, Substring(Pos.Settle_Date,7,4) + substring(Pos.Settle_Date,4,2)  + substring(Pos.Settle_Date,1,2), 103)) <= 0 then Cast(Pos.Settled as decimal(18,0))
			when cast(Pos.Orig_Face as decimal(18,0)) = 0.00 then Cast(Pos.Settled as decimal(18,0))
			else cast(Pos.Orig_Face as decimal(18,0))
		end) * convert(decimal(18,6), Val.[PRECIOSUCIO])) as [ValorMercado]
	From 
		IMSS_Positions Pos
		
		Left Join IMSS_Trades  T 
			on Pos.InvNum = T.InvNum

		Inner join VectorAnaliticoPiP PiP on 
		PiP.[Tipo Valor]  + '_' + PiP.Emisora+ '_' + PiP.Serie = Pos.TipoValor
		
		Inner Join VectorAnaliticoValmerCSV Val
		on rtrim(Val.[TV]) + '_' +rtrim(Val.Emisora) + '_' + rtrim(Val.Serie) = Pos.TipoValor
	where 
		datediff(DD,@FechaReporte, convert(datetime, Substring(Pos.Settle_Date,7,4) + substring(Pos.Settle_Date,4,2)  + substring(Pos.Settle_Date,1,2), 103)) <= 0
		and Pos.Portfolio = 'mx40041626'
	Group by
		
		PiP.[Tipo Valor], PiP.Emisora, PiP.Serie, Val.[PRECIOSUCIO]


	--Reportos
	Insert Into IMSS_RepPosicionValuadaHist 
	 Select 
		@FechaReporte as FechaReporte,
		PiP.[Tipo Valor] as [Tipo Valor] , PiP.Emisora as [Emisora], PiP.Serie as [Serie],  -- Tra.Collateral_Quantity,
		--CONVERT(VARCHAR(100),sum( CONVERT(DECIMAL(30, 0), abs( CONVERT(DECIMAL(30, 0),Pos.CollateralQuantity)))))  as [Titulos], 
		abs( CONVERT(DECIMAL(30, 0),Pos.CollateralQuantity))  as [Titulos],
		case
			when abs(Pos.CollateralQuantity) >0 then
			cast(cast(Pos.Orig_Face as decimal(18,2))/abs(Pos.CollateralQuantity) as decimal(18,6))
			else 0 End as [Precio],
		
		cast(Pos.Orig_Face as decimal(18,2)) as [Monto Invertido],
		cast(Pos.Orig_Face as decimal(18,2)) as [Valor Mercado]
	From 
		IMSS_Positions Pos
		Inner join VectorAnaliticoPiP PiP on PiP.ISIN= Pos.Collateral_ISIN
	
	Where 
		datediff(DD,@FechaReporte,
		convert(datetime, Substring(Pos.Settle_Date,7,4) + substring(Pos.Settle_Date,4,2)  + substring(Pos.Settle_Date,1,2), 103)) = 0
		and Pos.Portfolio = 'mx40041626'
	group by 
		 PiP.[Tipo Valor]  , PiP.Emisora, PiP.Serie,
		 Pos.CollateralQuantity, Pos.Orig_Face

	Union all
	select 
		[FechaReporte],
		[Tipo Valor],
		[Emisora],
		[Serie],
		sum(convert(decimal(18,0),[Titulos])) as [Titulos],
		[Precio],
		sum([Monto Invertido]) as [Monto Invertido],
		sum([Valor Mercado]) as [Valor Mercado]
	from 
		[IMSS_RepPosicionValuadaHistEquity]
	where
		FechaReporte = @FechaReporte
	Group BY
		[FechaReporte],
		[Tipo Valor],
		[Emisora],
		[Serie],
		[Precio]

	--Actualizo Montos de inversion con los del día anterior
	DECLARE  @TipoValor varchar(50),  
	@Emisora varchar(80), @Serie varchar(50), @MontoInvertido decimal
		   
	DECLARE tradescursor CURSOR FOR   
	select [Tipo Valor], Emisora, Serie, [Monto Invertido] from IMSS_RepPosicionValuadaHist
	where datediff(DD,FechaReporte,dbo.HabilAnterior(@FechaReporte))= 0 
	and  
	 [Tipo Valor] + '_' + Emisora  + '_' + Serie
	Not in (
	Select 		
		PiP.[Tipo Valor] + '_' + PiP.Emisora + '_' + PiP.Serie  		
	From 
		IMSS_Positions Pos
		Inner join VectorAnaliticoPiP PiP on PiP.ISIN= Pos.Collateral_ISIN
		and Pos.Portfolio = 'mx40041626'
	
	Where 
		datediff(DD,@FechaReporte,
		convert(datetime, Substring(Pos.Settle_Date,7,4) + substring(Pos.Settle_Date,4,2)  + substring(Pos.Settle_Date,1,2), 103)) = 0)

	OPEN tradescursor 
  
	FETCH NEXT FROM tradescursor   
	INTO  @TipoValor,  @Emisora, @Serie, @MontoInvertido

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
   
		Update IMSS_RepPosicionValuadaHist
		Set [Monto Invertido]  = @MontoInvertido
		where Emisora = @Emisora and Serie = @Serie and [Tipo Valor] = @TipoValor
		and datediff(dd,FechaReporte, @FechaReporte) =0

		-- Siguente trade.  
		FETCH NEXT FROM tradescursor   
		INTO  @TipoValor,  
		@Emisora, @Serie, @MontoInvertido
 
	END
	CLOSE tradescursor;  
	DEALLOCATE tradescursor;

	--Movimientos del día
	--Compras solo se suma el nuevo netmoney
	DECLARE  @TipoValorcompras  varchar(50), @Netmoneycompras  decimal

	Declare tradescursorcompras CURSOR FOR
	select  [TipoValor], sum(abs(NetMoney)) NetMoney from IMSS_Trades where Buy_Sell = 'BUY' and TipoValor <> '' and datediff(DD,@FechaReporte, convert(datetime, Substring(SettleDate,7,4) +
			substring(SettleDate,4,2)  + substring(SettleDate,1,2), 103)) = 0 and TranType not in('REPO')
	Group by [TipoValor]

	OPEN tradescursorcompras

	FETCH NEXT FROM tradescursorcompras   
	INTO @TipoValorcompras, @Netmoneycompras
		
	WHILE @@FETCH_STATUS = 0  
	BEGIN 
		Update IMSS_RepPosicionValuadaHist
		Set [Monto Invertido]  =[Monto Invertido]  + @Netmoneycompras
		where Emisora = dbo.Obtener_Emisora(@TipoValorcompras) and Serie = dbo.Obtener_Serie(@TipoValorcompras) and [Tipo Valor] = dbo.Obtener_TV(@TipoValorcompras)
		and datediff(dd,FechaReporte, @FechaReporte) =0

		-- Siguente trade.  
		FETCH NEXT FROM tradescursorcompras   
		INTO  @TipoValorcompras, @Netmoneycompras
	END
	CLOSE tradescursorcompras;  
	DEALLOCATE tradescursorcompras; 

	--Ventas
	--Monto invertido ayer por los titulos vendiso entre la suma de titulos del dia anterior
	DECLARE  @TipoValorVentas varchar(50), @OrigFace int, @OrigFacehabilanterior int,  @MontoInvertidohabilanterior decimal, @FechaHabilAnterior datetime	
   
	DECLARE tradescursorventas CURSOR FOR   
	select  [TipoValor], sum(OrigFace) as OrigFace  from IMSS_Trades where Buy_Sell = 'SELL' and TipoValor <> '' 
	and datediff(DD,@FechaReporte, convert(datetime, Substring(SettleDate,7,4) +
			substring(SettleDate,4,2)  + substring(SettleDate,1,2), 103)) = 0 and TranType not in('REPO')
	Group by [TipoValor]

	-- Actualizo los Montos invertidos con los del día anterior
	OPEN tradescursorventas 
  
	FETCH NEXT FROM tradescursorventas   
	INTO @TipoValorVentas, @OrigFace

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
		--Select DBO.HabilAnterior('20220307')
		select @FechaHabilAnterior =  dbo.HabilAnterior(@FechaReporte)
			
		--Traigo los datos de dia habil anterior
		select @OrigFacehabilanterior = Titulos, @MontoInvertidohabilanterior = [Monto Invertido] from IMSS_RepPosicionValuadaHist
		where [Tipo Valor] + '_' + Emisora + '_' + serie	= @TipoValorVentas
		and datediff(dd,FechaReporte, @FechaHabilAnterior) = 0
   
		Update IMSS_RepPosicionValuadaHist
		Set [Monto Invertido]= (@OrigFace*@MontoInvertidohabilanterior)/@OrigFacehabilanterior+@MontoInvertidohabilanterior
		where Emisora = dbo.Obtener_Emisora(@TipoValorVentas) and Serie = dbo.Obtener_Serie(@TipoValorVentas) and [Tipo Valor] = dbo.Obtener_TV(@TipoValorVentas)
		and datediff(dd,FechaReporte, @FechaReporte) =0

		-- Siguente trade.  
		FETCH NEXT FROM tradescursorventas   
		INTO  @TipoValorVentas, @OrigFace
	END
	CLOSE tradescursorventas;  
	DEALLOCATE tradescursorventas; 

	Select * from  IMSS_RepPosicionValuadaHist  where datediff(DD,FechaReporte, @FechaReporte) = 0

End

