USE [SAM_IMSS]
GO
/****** Object:  StoredProcedure [dbo].[IMSS_ArcTrades_CSV]    Script Date: 24/08/2025 05:24:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- Example:		IMSS_ArcTrades '2021/05/19'
-- Catalogo Clase de Activo IMSS
--	MCAACCRNV	Acciones (tipo de valor 1 y 41)
--	MCAETFNAC	ETF (tipo de valor 1B)
--	MCAACCSIC	Acciones (tipo de valor 1A)
--	MCAETFEXT	ETF (tipo de valor 1I)
-- =============================================
ALTER PROCEDURE [dbo].[IMSS_ArcTrades_CSV]
(@FechaReporte Datetime,
@Contrato VARCHAR(50))

AS
BEGIN
	
	Delete IMSS_RepTrades

	
	Insert Into IMSS_RepTrades
	Select 
	'MSANT0000000' as [Mandatario],

	Convert(varchar,getdate(),111) as [FechaArchivo],
	--Convert(varchar(10),@FechaReporte,111)  as [FechaArchivo],

	substring(Convert(varchar(10), t.TradeDate,111),7,4) + '/' + substring(Convert(varchar(10), t.TradeDate,111),4,2)  + '/' 
	+ 	substring(Convert(varchar(10), t.TradeDate,111),1,2)  as [FechaOperacion], --Ultima fecha operacion por instrumento  as [FechaOperacion], --Ultima fecha operacion por instrumento


	'RJPS2' as [Portafolio], 
	case
		when substring(rtrim(t.tipovalor),1,2) in ('0_','1_','41') then 'MCAACCRNV'
		when substring(rtrim(t.tipovalor),1,2) = '1B' then 'MCAETFNAC'
		when substring(rtrim(t.tipovalor),1,2) = '1A' then 'MCAACCSIC'
		when substring(rtrim(t.tipovalor),1,2) = '1I' then 'MCAETFEXT'
		else  'BANFON'
	end as [ClaseActivo],

	case
		when t.TipoValor ='' then Pip.[TIPO VALOR]
		else replace(rtrim(substring(t.tipovalor, 0, charindex('_',t.tipovalor,0))),'_','') 
	End as [TipoValor],

	case
		when t.TipoValor ='' then Pip.Emisora
		else replace(substring(t.tipovalor, charindex('_',t.tipovalor,0), charindex('_',t.tipovalor, charindex('_',t.tipovalor)+1)-charindex('_',t.tipovalor,0)),'_','') End as [Emisora],

	case
		when t.TipoValor ='' then Pip.Serie
		else replace( substring(t.tipovalor, charindex('_',t.tipovalor, charindex('_',t.tipovalor)+1),len(t.tipovalor)- charindex('_',t.tipovalor)+1),'_','') End as [Serie],
	
	Val.[PRECIOSUCIO] as [PrecioSucio],

	convert(varchar,convert(decimal(18,0),t.OrigFace)) as [Titulos],

	substring(Convert(varchar(10), t.SettleDate,111),7,4) + '/' + substring(Convert(varchar(10), t.SettleDate,111),4,2)  + '/' + 	substring(Convert(varchar(10), t.SettleDate,111),1,2)  as [FechaLiquidacion], --Ultima fecha operacion por instrumento as [FechaLiquidacion],

	'5190' as [Intermediario],

	t.NetMoney as [MontoLiquidado],
	'MSANT00001' as [NumeroMandato],


	--datediff(DD,'2021/02/04',
	--substring(Convert(varchar(10), t.SettleDate,111),7,4) + '/' + substring(Convert(varchar(10), t.SettleDate,111),4,2)  + '/' + 	substring(Convert(varchar(10), t.SettleDate,111),1,2))
	 --as [ClaveFechaLiquidacion], --sacar directo de aladdin
	
	--case 
	--	when
	--		datediff(DD,'2021/02/04',
	--		substring(Convert(varchar(10), t.SettleDate,111),7,4) + '/' + substring(Convert(varchar(10), t.SettleDate,111),4,2)  + '/' + 
	--		substring(Convert(varchar(10), t.SettleDate,111),1,2)) >= 2 then 'EFECTIVO48'
	--else 'EFECTIVO24'
	--end as [ClaveFechaLiquidacion], --sacar directo de aladdin

	--Case
	--	when 
	--	   dbo.CalculaDias(@FechaReporte,substring(Convert(varchar(10), t.SettleDate,111),7,4) + '/' + substring(Convert(varchar(10), t.SettleDate,111),4,2)  + '/' + 
	--		substring(Convert(varchar(10), t.SettleDate,111),1,2)) >=2  then 'EFECTIVO48'
	--else 'EFECTIVO24'
	--end as [ClaveFechaLiquidacion],

	'EFECTIVO'+
	convert(varchar(4),(dbo.CalculaDias(@FechaReporte,substring(Convert(varchar(10), t.SettleDate,111),7,4) + '/' + substring(Convert(varchar(10), t.SettleDate,111),4,2)  + '/' + 
			substring(Convert(varchar(10), T.SettleDate,111),1,2)) * 24))  as [ClaveFechaLiquidacion],

	Case	
		when t.buy_sell = 'SELL' then 'DVP'
		when t.buy_sell = 'BUY' then 'RVP'
	End as [ClaveOperacion],

	abs(convert(decimal(18,10),(t.NetMoney /convert(decimal(18,2),t.OrigFace))))  as [PrecioPactado] 
	--t.TradePrice as [PrecioPactado] 

	from IMSS_trades t

		inner join VectorAnaliticoPiP Pip 
		on rtrim(Pip.[Tipo Valor]) + '_' + rtrim(Pip.Emisora) + '_' + rtrim(Pip.Serie)= t.tipovalor

	inner join VectorAnaliticoValmerCSV Val
		on rtrim(Val.[TV]) + '_' + rtrim(Val.Emisora) + '_' + rtrim(Val.Serie)  = rtrim(Pip.[Tipo Valor]) + '_' + rtrim(Pip.Emisora) + '_' + rtrim(Pip.Serie)
		--and  datediff(DD,@FechaReporte, convert(datetime, Substring(Val.Fecha,1,4) + substring(Val.Fecha,6,2)  + substring(Val.Fecha, 9,2), 103)) = 0
	where
		datediff(DD,@FechaReporte,
			substring(Convert(varchar(10), t.SettleDate,111),7,4) + '/' + substring(Convert(varchar(10), t.SettleDate,111),4,2)  + '/' + 
			substring(Convert(varchar(10), t.SettleDate,111),1,2)) > 0
		
	Union all

Select 
	'MSANT0000000' as [Mandatario],

	Convert(varchar,getdate(),111) as [FechaArchivo],
	--Convert(varchar(10),@FechaReporte,111)  as [FechaArchivo],


	substring(Convert(varchar(10), t.TradeDate,111),7,4) + '/' + substring(Convert(varchar(10), t.TradeDate,111),4,2)  + '/' + 	substring(Convert(varchar(10), t.TradeDate,111),1,2)  as [FechaOperacion], --Ultima fecha operacion por instrumento as [FechaOperacion], --Ultima fecha operacion por instrumento

	'RJPS2' as [Portafolio], 
	case
		when substring(rtrim(t.tipovalor),1,2) in ('0_','1_','41') then 'MCAACCRNV'
		when substring(rtrim(t.tipovalor),1,2) = '1B' then 'MCAETFNAC'
		when substring(rtrim(t.tipovalor),1,2) = '1A' then 'MCAACCSIC'
		when substring(rtrim(t.tipovalor),1,2) = '1I' then 'MCAETFEXT'
		else  'BANFON'
	end as [ClaseActivo],

	case
		when t.TipoValor ='' then Pip.[TIPO VALOR]
		else replace(rtrim(substring(t.tipovalor, 0, charindex('_',t.tipovalor,0))),'_','') 
	End as [TipoValor],

	case
		when t.TipoValor ='' then Pip.Emisora
		else replace(substring(t.tipovalor, charindex('_',t.tipovalor,0), charindex('_',t.tipovalor, charindex('_',t.tipovalor)+1)-charindex('_',t.tipovalor,0)),'_','') End as [Emisora],

	case
		when t.TipoValor ='' then Pip.Serie
		else replace( substring(t.tipovalor, charindex('_',t.tipovalor, charindex('_',t.tipovalor)+1),len(t.tipovalor)- charindex('_',t.tipovalor)+1),'_','') End as [Serie],
	
	--Val.[PRECIO SUCIO] as [PrecioSucio],

	t.OrigFace/t.Collateral_Quantity as [PrecioSucio],

	t.Collateral_Quantity as [Titulos],

	substring(Convert(varchar(10), T.SettleDate,111),7,4) + '/' + substring(Convert(varchar(10), T.SettleDate,111),4,2)  + '/' + 
		substring(Convert(varchar(10), T.SettleDate,111),1,2)  as [FechaLiquidacion], -- fecha liquidacion reporto

	'5190' as [Intermediario],

	t.NetMoney as [MontoLiquidado],
	'MSANT00001' as [NumeroMandato],

	--datediff(DD,'2021/02/04',
	--convert(datetime, Substring(T.Maturity,7,4) + substring(T.Maturity,4,2)  + substring(T.Maturity,1,2), 103)) as [ClaveFechaLiquidacion], 

	--case 
	-- when
	--	datediff(DD,'2021/02/04',
	--	convert(datetime, Substring(T.SettleDate,7,4) + substring(T.SettleDate,4,2)  + substring(T.SettleDate,1,2), 103)) >= 2 then 'EFECTIVO48'
	-- else 'EFECTIVO24'
	--end 
	--as [ClaveFechaLiquidacion], --sacar directo de aladdin
	'EFECTIVO'+
	convert(varchar(5),(dbo.CalculaDias(@FechaReporte,substring(Convert(varchar(10), t.SettleDate,111),7,4) + '/' + substring(Convert(varchar(10), t.SettleDate,111),4,2)  + '/' + 
			substring(Convert(varchar(10), T.SettleDate,111),1,2)) * 24))  as [ClaveFechaLiquidacion],

	--Case
	--	when 
	--	   dbo.CalculaDias(@FechaReporte,substring(Convert(varchar(10), t.SettleDate,111),7,4) + '/' + substring(Convert(varchar(10), t.SettleDate,111),4,2)  + '/' + 
	--		substring(Convert(varchar(10), T.SettleDate,111),1,2)) >=2  then 'EFECTIVO48'
	--else 'EFECTIVO24'
	--end as [ClaveFechaLiquidacion],

	Case	
		when t.buy_sell = 'SELL' then 'DVP'
		when t.buy_sell = 'BUY' then 'RVP'
	End as [ClaveOperacion],

	abs(convert(decimal(18,10),(t.NetMoney /convert(decimal(18,2),t.OrigFace))))   as [PrecioPactado] 

	--abs(t.NetMoney /convert(decimal(18,0),t.OrigFace))
	--t.TradePrice as [PrecioPactado] 

	from IMSS_trades t
	inner join VectorAnaliticoPiP Pip 
		on Pip.ISIN = T.Collateral_ISIN
	
--	left join VectorAnaliticoValmer Val
	--	on rtrim(Val.[Tipo Valor]) + '_' + rtrim(Val.Emisora) + '_' + rtrim(Val.Serie)  = rtrim(Pip.[Tipo Valor]) + '_' + rtrim(Pip.Emisora) + '_' + rtrim(Pip.Serie)

	Where
		datediff(DD,@FechaReporte,
		convert(datetime, Substring(T.SettleDate,7,4) + substring(T.SettleDate,4,2)  + substring(T.SettleDate,1,2), 103)) > 0
		and t.TipoValor =''




		Delete IMSS_RepTradesHist  where datediff(DD,FechaReporte, getdate()) = 0 AND Contrato = @Contrato

		--Genero el reporte
		Insert into IMSS_RepTradesHist
		Select getdate(), Mandatario, FechaArchivo,    FechaOperacion,Portafolio, ClaseActivo, TipoValor  ,  
		Emisora, Serie, PrecioSucio, abs(cast(Titulos as bigint)) as Titulos, FechaLiquidacion, Intermediario, abs(MontoLiquidado) as [MontoLiquidado], 
		NumeroMandato, ClaveFechaLiquidacion,ClaveOperacion, PrecioPactado, @Contrato from IMSS_RepTrades
	
		select [FechaReporte] ,[Mandatario] ,[FechaArchivo] ,[FechaOperacion] ,[Portafolio] ,[ClaseActivo] ,[TipoValor] ,[Emisora] ,[Serie]
      ,[PrecioSucio] ,[Titulos] ,[FechaLiquidacion] ,[Intermediario] ,[MontoLiquidado] ,[NumeroMandato] ,[ClaveFechaLiquidacion]
      ,[ClaveOperacion] ,[PrecioPactado] from IMSS_RepTradesHist
		where  datediff(DD,FechaReporte, getdate()) = 0 and Contrato = @Contrato

END







