USE [SAM_IMSS]
GO
/****** Object:  StoredProcedure [dbo].[IMSS_ArcPosLayout]    Script Date: 25/08/2025 02:38:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- Exec IMSS_ArcPosLayout '20221013'
-- Exec IMSS_ArcPosLayoutSilvia '20220307'
-- Catalogo Clase de Activo IMSS
--	MCAACCRNV	Acciones (tipo de valor 1 y 41)
--	MCAETFNAC	ETF (tipo de valor 1B)
--	MCAACCSIC	Acciones (tipo de valor 1A)
--	MCAETFEXT	ETF (tipo de valor 1I)
-- =============================================
ALTER PROCEDURE [dbo].[IMSS_ArcPosLayout]
(@FechaReporte Datetime,
@Contrato VARCHAR(50))
AS
BEGIN

	--Quito los ascentos a los secores en el vector de pip

	Update  [dbo].[VectorAnaliticoPiP]
	SET SECTOR = 'ENERGIA' WHERE SECTOR LIKE 'ENERG%' 

	Update  [dbo].[VectorAnaliticoPiP]
	SET SECTOR = 'INDICES' WHERE SECTOR LIKE '%NDICES%'

	Update  [dbo].[VectorAnaliticoPiP]
	SET SECTOR = 'TECNOLOGIA DE LA INFORMACION' WHERE SECTOR LIKE '%TECNOLOG%'   AND SECTOR LIKE '%DE LA INFORMACI%'

	Update  [dbo].[VectorAnaliticoPiP]
	SET SECTOR = 'SERVICIOS Y BIENES DE CONSUMO NO BASICO' where sector like '%SERVICIOS Y BIENES DE CONSUMO NO B%'

	Update  [dbo].[VectorAnaliticoPiP]
	SET SECTOR = 'SERVICIOS PUBLICOS' where sector like '%SERVICIOS P%'

	--Actualizo vector
	Update [dbo].[VectorAnaliticoPiP]
	set [MONTO EN CIRCULACION] = 0
	where [MONTO EN CIRCULACION] = '-'

	Truncate Table IMSS_RepPosLayout

	-- Todos  menos reportos
	Insert Into IMSS_RepPosLayout
	Select 
		'MSANT'  as [A.ClaveOperacion],
		'MSANT00001' as [B.ClaveMandato],
		CONVERT(varchar,@FechaReporte,111)  as [FechaPosicion],
		'RJPS2' as [D.Portafolio],
		'RJPS2' as [E.SubPortafolio],
		
		case
			when PiP.[Tipo Valor] in ('0','1','41') then 'MCAACCRNV'
			when PiP.[Tipo Valor] = '1B' then 'MCAETFNAC'
			when PiP.[Tipo Valor] = '1A' then 'MCAACCSIC'
			when PiP.[Tipo Valor] = '1I' then 'MCAETFEXT'
			else 'BANFON'
		End as [F.ClaseActivo],
		
		PiP.[Tipo Valor] as [G.TipoValor],
		PiP.Emisora as [H.Emisora],
		PiP.Serie as [I.Serie],

		sum(
		case
			when cast(Pos.Orig_Face as decimal(18,0)) < Cast(Pos.Settled as decimal(18,0))  and datediff(DD,@FechaReporte, convert(datetime, Substring(Pos.Settle_Date,7,4) + substring(Pos.Settle_Date,4,2)  + substring(Pos.Settle_Date,1,2), 103)) <= 0 then Cast(Pos.Settled as decimal(18,0))
			when cast(Pos.Orig_Face as decimal(18,0)) = 0.00 then Cast(Pos.Settled as decimal(18,0))
			else cast(Pos.Orig_Face as decimal(18,0))
		end) as  [J.Títulos_Acciones],

		'0'  as [K.DiasCupon],
		'0.00000000' as [L.TasaCupon],
		'0' [M.DxVCupon],
		'' as [N.FechaInicialCupon],
		'' as [O.FechaFinalCupon],

		--Estos dos campos solo aplican para Reportos
		null as [P.FechaEmisionInstrumento],
		null as [Q.FechaVencimientoOperacion],
		'' as [R.DiasPorVencerInstrumento],
		'0.000000' as [S.YTM],
		'0' as [T.TasaPactada],
		'MXN' as [U.Moneda],

		Case
			when Pip.[Tipo Valor] = '1I' then 'ETF'
			when Pip.[Tipo Valor] = '1B' then 'ETF'
			when Pip.[Tipo Valor] = '1A' then 'ACCIONES'
			when Pip.[Tipo Valor] = '1' then 'ACCIONES'
			when Pip.[Tipo Valor] = '41' then 'ACCIONES'
			else 'ACCIONES'
		end as [V.Subyacente],

		0 as [W.MontoInvertido],
		'1.00000000' as [X.TipoCambio],
		isnull(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PiP.Sector, 'ENERG�A','ENERGIA'),'B�SICO','BASICO'),'Á','A'),'Ú','U'),'Ó','O'), '') as [Y.Sector],
		 '' as [Z.S&P],
		 '' as [AA.Fitch],
		 '' as [AB.Moody's],
		 '' as [AC.HRR],
		 '5190' as [AD.Intermediario],
		 'SANTANDER ASSET MANAGEMENT' as [AE.DescripcionIntermediario],
		 '021' as [AF.ClasificadorIntermediario],
		 'NACIONAL' AS [AG.TipoOperacion],
		 '1' [AH.Operacion],
		'' as [AI.Emisor],

		Case
			when substring(Pip.Isin,1,2) = 'MX' then 'NACIONAL'
			--else 'EXTRANJERO'
			else 'NACIONAL'
		End as [AJ.OrigenEmisor],

		'0.00000000' as [AK.Sobretasa],
		'0.00000000' as [AL.VolatilidadImplicita],
		'02' as [AM.StatusIntrumento],
		'MANDATOIMSS' as [AN.IdentificadorIMSS],
		'MSANT' as [AO.Mandatario],
		'0.00000 ' as [AP.MontoEmitido],
		 round(cast(PiP.[MONTO EN CIRCULACION] as float)/  Pip.[PRECIO LIMPIO],0) as  [AQ.TitulosCirculacion],
		'0.000' as [AR.TitulosEmitidos],
		Pip.[Valor Nominal] as [AS.ValorNominal],
		0   as [AT.MontoInvertidoFinal]
	From 
		IMSS_Positions Pos
		Left join IMSS_Trades  T 
			on Pos.InvNum = T.InvNum
		Inner join VectorAnaliticoPiP PiP 
			on PiP.[Tipo Valor]  + '_' + PiP.Emisora + '_' + PiP.Serie =  Pos.TipoValor
		Inner Join VectorAnaliticoValmer Val
			on rtrim(Val.[Tipo Valor]) + '_' +rtrim(Val.Emisora) + '_' + rtrim(Val.Serie) = PiP.[Tipo Valor]  + '_' + PiP.Emisora + '_' + PiP.Serie
	Where 
		datediff(DD,@FechaReporte, convert(datetime, Substring(Pos.Settle_Date,7,4) + substring(Pos.Settle_Date,4,2)  + substring(Pos.Settle_Date,1,2), 103)) <= 0
		
	Group by 		
		PiP.[Tipo Valor],
		PiP.Emisora,
		PiP.Serie,
		isnull(Pos.Coupon,''),
		Pip.[Valor Nominal], 
		Pip.SECTOR,  
		substring(Pip.Isin,1,2), 
		pip.[MONTO EN CIRCULACION],
		pip.[PRECIO LIMPIO],   Val.[PRECIO SUCIO], T.TipoValor

	Union all
	--Reportos
	
	Select
		'MSANT'  as [A.ClaveOperacion],
		'MSANT00001' as [B.ClaveMandato],
		CONVERT(varchar,@FechaReporte,111)  as [FechaPosicion],
		'RJPS2' as [D.Portafolio],
		'RJPS2' as [E.SubPortafolio],

		case
			when substring(rtrim(Pos.tipovalor),1,2) in ('0_','1_','41') then 'MCAACCRNV'
			when substring(rtrim(Pos.tipovalor),1,2) = '1B' then 'MCAETFNAC'
			when substring(rtrim(Pos.tipovalor),1,2) = '1A' then 'MCAACCSIC'
			when substring(rtrim(Pos.tipovalor),1,2) = '1I' then 'MCAETFEXT'
			else 'BANFON'
		End as [F.ClaseActivo],

		PiP.[Tipo Valor]  as [G.TipoValor],
		PiP.Emisora as [H.Emisora],
		PiP.Serie as [I.Serie],
		isnull(abs(Pos.CollateralQuantity),0) as [J.Titulos_Acciones],
		'0'  as [K.DiasCupon],
		'0.00000000' as [L.TasaCupon],
		'0' [M.DxVCupon],
		'' as [N.FechaInicialCupon],
		'' as [O.FechaFinalCupon],
		isnull(convert(datetime,substring(Pos.Settle_Date,1,10),103), convert(datetime,substring(Pos.Settle_Date,1,10),103)) as [P.FechaEmisionInstrumento],
		isnull(convert(datetime,substring(Pos.Maturity,1,10),103), convert(datetime,substring(Pos.Maturity,1,10),103)) as [Q.FechaVencimientoOperacion],
		datediff(DD,convert(datetime,substring(Pos.TradeDate,1,10),103) ,convert(datetime,substring(Pos.Maturity,1,10),103)) as [R.DiasPorVencerInstrumento],
		'0.000000' as [S.YTM],
		isnull(Pos.Coupon, 0)  as [T.TasaPactada],
		'MXN' as [U.Moneda],
		'0' as [V.Subyacente],
		convert(decimal(18,2), pos.Orig_Face) as  [W.MontoInvertido], --- CHECAR ESTE VALOR
		'1.00000000' as [X.TipoCambio],
		'' as [Y.Sector], --Para reporto va vacio
		'' as [Z.S&P],
		'' as [AA.Fitch],
		'' as [AB.Moody's],
		'' as [AC.HRR],
		'5190' as [AD.Intermediario],
		'SANTANDER ASSET MANAGEMENT' as [AE.DescripcionIntermediario],
		'021' as [AF.ClasificadorIntermediario],
		'NACIONAL' AS [AG.TipoOperacion],
		'2' as [AH.Operacion],
		'' as [AI.Emisor],
		
		Case
			when substring(Pip.Isin,1,2) = 'MX' then 'NACIONAL'
			else 'NACIONAL'
			--else 'EXTRANJERO'
		End as [AJ.OrigenEmisor],

		'0.00000000' as [AK.Sobretasa],
		'0.00000000' as [AL.VolatilidadImplicita],
		'02' as [AM.StatusIntrumento],
		'MANDATOIMSS' as [AN.IdentificadorIMSS],
		'MSANT' as [AO.Mandatario],
		'0.00000 ' as [AP.MontoEmitido],
		'0.000' as [AQ.TitulosCirculacion],
		'0.000' as [AR.TitulosEmitidos],
		Pip.[Valor Nominal] as [AS.ValorNominal],
		convert(decimal(18,2), Pos.Orig_Face) as  [W.MontoInvertidoFinal]
	From 
		IMSS_Positions Pos
				inner join VectorAnaliticoPiP PiP on rtrim(PiP.ISIN)= rtrim(Pos.Collateral_ISIN)
	where
		datediff(DD,@FechaReporte,
		convert(datetime, Substring(Pos.Settle_Date,7,4) + substring(Pos.Settle_Date,4,2)  + substring(Pos.Settle_Date,1,2), 103)) = 0

	
	--Elimino el registro del día para cargarlo nuevamente
	Delete  IMSS_RepPosLayoutHist where datediff(DD,FechaReporte, @FechaReporte) = 0 and Contrato = @Contrato;

	--Resultado Final
	Insert Into IMSS_RepPosLayoutHist
		Select
			@FechaReporte as [FechaReporte],
			[ClaveOperacion] + RIGHT('0000000' + Ltrim(Rtrim(convert(varchar(7), ROW_NUMBER() OVER(ORDER BY Emisora)))),7) as [ClaveOperacion],
			[ClaveMandato],
			[FechaPosicion],
			[Portafolio],
			[SubPortafolio],
			[ClaseActivo],
			[TipoValor],
			[Emisora],
			[Serie],
			sum([Títulos_Acciones]) as [SumaTitulosAcciones],
			[DiasCupon],
			[TasaCupon],
			[DxVCupon],
			[FechaInicialCupon],
			[FechaFinalCupon],
			isnull(convert(varchar,convert(datetime,[FechaEmisionInstrumento]),111),'') as [FechaEmisionInstrumento],
			isnull(convert(varchar,convert(datetime,[FechaVencimientoOperacion]),111),'') as [FechaVencimientoOperacion],
			[DiasPorVencerInstrumento],
			[YTM],
			[TasaPactada],
			[Moneda],
			[Subyacente],
			sum([MontoInvertido]) as [SumaMontoInvertido],
			[TipoCambio],
			[Sector],
			[S&P],
			[Fitch],
			[Moody's],
			[HRR],
			[Intermediario],
			[DescripcionIntermediario],
			[ClasificadorIntermediario],
			[TipoOperacion],
			[Operacion],
			[Emisor],
			[OrigenEmisor],
			[Sobretasa],
			[VolatilidadImplicita],
			[StatusIntrumento],
			[IdentificadorIMSS],
			[Mandatario],
			[MontoEmitido],
			round(Cast([TitulosCirculacion] as float),0) as [TitulosCirculacion],
			[TitulosEmitidos],
			case 
				when [ValorNominal] = 'NA' then '0'
				else isnull([ValorNominal],0)
			End as [ValorNominal],
			sum([MontoInvertidoFinal])  as [SumaMontoInvertido],
			@Contrato
		from 
			IMSS_RepPosLayout
		where 
			[Operacion] = 1
	  group by
			[ClaveOperacion],			[ClaveMandato],			[FechaPosicion],			[Portafolio],			[SubPortafolio],			
			[ClaseActivo],			[TipoValor],			[Emisora],			[Serie],			[DiasCupon],			[TasaCupon],
			[DxVCupon],			[FechaInicialCupon],			[FechaFinalCupon],			[FechaEmisionInstrumento],			
			[FechaVencimientoOperacion],			[DiasPorVencerInstrumento],			[YTM],			[TasaPactada],
			[Moneda], 			[Subyacente],			[TipoCambio],			[Sector],			[S&P],			[Fitch],			[Moody's],
			[HRR],			[Intermediario],			[DescripcionIntermediario],			[ClasificadorIntermediario],			[TipoOperacion],
			[Operacion],			[Emisor],			[OrigenEmisor],			[Sobretasa],			[VolatilidadImplicita],
			[StatusIntrumento],			[IdentificadorIMSS],			[Mandatario],			[MontoEmitido],			[TitulosCirculacion],			
			[TitulosEmitidos],			[ValorNominal]

	    
		--No agrupo reportos
		Insert Into IMSS_RepPosLayoutHist
		Select
			@FechaReporte as [FechaReporte],
			--[ClaveOperacion] + RIGHT('0000000' + Ltrim(Rtrim(convert(varchar(7), ROW_NUMBER() OVER(ORDER BY Emisora)))),7) as [ClaveOperacion]
			[ClaveOperacion] + RIGHT('0000000' + Ltrim(Rtrim(convert(varchar(7), ((select max(substring(ClaveOperacion,6,13)) from IMSS_RepPosLayoutHist where FechaReporte = @FechaReporte AND Contrato = @Contrato) + ROW_NUMBER() OVER(ORDER BY Emisora))))),7)  as [ClaveOperacion],
			[ClaveMandato],
			[FechaPosicion],
			[Portafolio],
			[SubPortafolio],
			[ClaseActivo],
			[TipoValor],
			[Emisora],
			[Serie],
			[Títulos_Acciones] as [SumaTitulosAcciones],
			[DiasCupon],
			[TasaCupon],
			[DxVCupon],
			[FechaInicialCupon],
			[FechaFinalCupon],
			isnull(convert(varchar,convert(datetime,[FechaEmisionInstrumento]),111),'') as [FechaEmisionInstrumento],
			isnull(convert(varchar,convert(datetime,[FechaVencimientoOperacion]),111),'') as [FechaVencimientoOperacion],
			[DiasPorVencerInstrumento],
			[YTM],
			[TasaPactada],
			[Moneda],
			[Subyacente],
			[MontoInvertido] as [SumaMontoInvertido],
			[TipoCambio],
			[Sector],
			[S&P],
			[Fitch],
			[Moody's],
			[HRR],
			[Intermediario],
			[DescripcionIntermediario],
			[ClasificadorIntermediario],
			[TipoOperacion],
			[Operacion],
			[Emisor],
			[OrigenEmisor],
			[Sobretasa],
			[VolatilidadImplicita],
			[StatusIntrumento],
			[IdentificadorIMSS],
			[Mandatario],
			[MontoEmitido],
			round(Cast([TitulosCirculacion] as float),0) as [TitulosCirculacion],
			[TitulosEmitidos],
			case 
				when [ValorNominal] = 'NA' then '0'
				else isnull([ValorNominal],0)
			End as [ValorNominal],
			[MontoInvertidoFinal]  as [SumaMontoInvertido],
			@Contrato
		from 
			IMSS_RepPosLayout
		where 
			[Operacion] = 2
	 

		--Actualizo el monto invertido con el del día anterior
		DECLARE  @TipoValor varchar(50),  
		@Emisora varchar(80), @Serie varchar(50), @MontoInvertido decimal
   
		DECLARE tradescursor CURSOR FOR   
		select TipoValor, Emisora, Serie, SumaMontoInvertido_1 from IMSS_RepPosLayoutHist
		where datediff(DD,FechaReporte,dbo.HabilAnterior(@FechaReporte))= 0 and operacion = 1 AND Contrato  = @Contrato

		OPEN tradescursor 
  
		FETCH NEXT FROM tradescursor   
		INTO  @TipoValor,  @Emisora, @Serie, @MontoInvertido

		WHILE @@FETCH_STATUS = 0  
		BEGIN  
   
		   Update IMSS_RepPosLayoutHist
		   Set SumaMontoInvertido_1 = ISNULL(@MontoInvertido, 0), SumaMontoInvertido_2 = ISNULL(@MontoInvertido, 0)
		   where Emisora = @Emisora and Serie = @Serie and TipoValor = @TipoValor
		   and datediff(dd,FechaReporte, @FechaReporte) =0 and operacion = 1 AND Contrato  = @Contrato

			-- Siguente trade.  
			FETCH NEXT FROM tradescursor   
			INTO  @TipoValor,  
			@Emisora, @Serie, @MontoInvertido
 
		END
		CLOSE tradescursor;  
		DEALLOCATE tradescursor;

		-- Calculos del dia
		--Compras solo se suma el nuevo netmoney
		DECLARE  @TipoValorcompras  varchar(50), @Netmoneycompras  decimal

		Declare tradescursorcompras CURSOR FOR
		select  [TipoValor],  sum(abs(NetMoney)) as NetMoney from IMSS_Trades where Buy_Sell = 'BUY' and TipoValor <> '' and datediff(DD,@FechaReporte, convert(datetime, Substring(SettleDate,7,4) +
			 substring(SettleDate,4,2)  + substring(SettleDate,1,2), 103)) = 0 and TranType not in('REPO') and [Fund] = @Contrato
			 Group By [TipoValor]

		OPEN tradescursorcompras

		FETCH NEXT FROM tradescursorcompras   
		INTO @TipoValorcompras, @Netmoneycompras
		
		WHILE @@FETCH_STATUS = 0  
		BEGIN 
			Update IMSS_RepPosLayoutHist
			Set SumaMontoInvertido_1 = SumaMontoInvertido_1 + @Netmoneycompras,
			SumaMontoInvertido_2 = SumaMontoInvertido_2 + @Netmoneycompras
			where Emisora = dbo.Obtener_Emisora(@TipoValorcompras) and Serie = dbo.Obtener_Serie(@TipoValorcompras) and TipoValor = dbo.Obtener_TV(@TipoValorcompras)
			and datediff(dd,FechaReporte, @FechaReporte) =0 and Contrato  = @Contrato


			-- Siguente trade.  
			FETCH NEXT FROM tradescursorcompras   
			INTO  @TipoValorcompras, @Netmoneycompras
		END
		CLOSE tradescursorcompras;  
		DEALLOCATE tradescursorcompras; 


		--Ventas
		--Monto invertido ayer por los titulos vendiso entre la suma de titulos del dia anterior
		DECLARE  @TipoValorVentas varchar(50), @OrigFace int, @OrigFacehabilanterior int,  @MontoInvertidohabilanterior decimal, @FechaHabilAnterior datetime	
   
		DECLARE tradescursorventas CURSOR FOR   
		select  [TipoValor], sum(OrigFace) as OrigFace from IMSS_Trades where Buy_Sell = 'SELL' and TipoValor <> '' 
		and datediff(DD,@FechaReporte, convert(datetime, Substring(SettleDate,7,4) +
			 substring(SettleDate,4,2)  + substring(SettleDate,1,2), 103)) = 0 and TranType not in('REPO') AND [Fund] = @Contrato 
		group by [TipoValor]

		-- Actualizo los Montos invertidos con los del día anterior
		OPEN tradescursorventas 
  
		FETCH NEXT FROM tradescursorventas   
		INTO @TipoValorVentas, @OrigFace

		WHILE @@FETCH_STATUS = 0  
		BEGIN  
			--Select DBO.HabilAnterior('20220307')
			select @FechaHabilAnterior =  dbo.HabilAnterior(@FechaReporte)
			
			--Traigo los datos de dia habil anterior
			select @OrigFacehabilanterior = SumaTitulosAcciones, @MontoInvertidohabilanterior = SumaMontoInvertido_1 from IMSS_RepPosLayoutHist
			where TipoValor + '_' + Emisora + '_' + serie	= @TipoValorVentas
			and datediff(dd,FechaReporte, @FechaHabilAnterior) = 0 AND Contrato = @Contrato
   
		   Update IMSS_RepPosLayoutHist
		   Set SumaMontoInvertido_1 = ((@OrigFace*@MontoInvertidohabilanterior)/@OrigFacehabilanterior)+ @MontoInvertidohabilanterior, 
		   SumaMontoInvertido_2 = ((@OrigFace*@MontoInvertidohabilanterior)/@OrigFacehabilanterior)+@MontoInvertidohabilanterior
		   where Emisora = dbo.Obtener_Emisora(@TipoValorVentas) and Serie = dbo.Obtener_Serie(@TipoValorVentas) and TipoValor = dbo.Obtener_TV(@TipoValorVentas)
		   and datediff(dd,FechaReporte, @FechaReporte) =0 AND Contrato  = @Contrato

			-- Siguente trade.  
			FETCH NEXT FROM tradescursorventas   
			INTO  @TipoValorVentas, @OrigFace
		END
		CLOSE tradescursorventas;  
		DEALLOCATE tradescursorventas; 
	

	  SELECT [FechaReporte] ,[ClaveOperacion] ,[ClaveMandato] ,[FechaPosicion] ,[Portafolio] ,[SubPortafolio] ,[ClaseActivo] ,[TipoValor]
      ,[Emisora] ,[Serie] ,[SumaTitulosAcciones] ,[DiasCupon] ,[TasaCupon] ,[DxVCupon] ,[FechaInicialCupon] ,[FechaFinalCupon]
      ,[FechaEmisionInstrumento] ,[FechaVencimientoOperacion] ,[DiasPorVencerInstrumento] ,[YTM] ,[TasaPactada] ,[Moneda]
      ,[Subyacente] ,[SumaMontoInvertido_1] ,[TipoCambio] ,[Sector] ,[S&P] ,[Fitch] ,[Moody's] ,[HRR] ,[Intermediario] 
	  ,[DescripcionIntermediario] ,[ClasificadorIntermediario] ,[TipoOperacion] ,[Operacion] ,[Emisor] ,[OrigenEmisor]
      ,[Sobretasa] ,[VolatilidadImplicita] ,[StatusIntrumento] ,[IdentificadorIMSS] ,[Mandatario] ,[MontoEmitido]
      ,[TitulosCirculacion] ,[TitulosEmitidos] ,[ValorNominal] ,[SumaMontoInvertido_2] 
	  FROM IMSS_RepPosLayoutHist 
	  WHERE datediff(DD,FechaReporte, @FechaReporte) = 0 AND Contrato = @Contrato
	  ORDER BY emisora
			
END

